:root {
    --pink: #DF00A1;
    --green: #3EFFB9;
    --light2: #EEEEEE;
    --dark1: #111111;
    --dark2: #333333;
    --dark3: #555555;
    --white: #FFFFFF;
}
body {
    margin: 0;
}
#navbar, #hero, .logos, footer {
    padding: 0 70px;
}
#section, #info {
    margin: 0 70px;
}

#notified {
    padding: 5px;
    background-color: transparent;
    border: 1px solid var(--pink);
    border-radius: 7px;
    color: var(--pink);
}

h1 {
    font-size: 72px;
    font-weight: 200;
}

p {
    font-weight: 100;
    font-size: 16px;
    line-height: 25px;
}

ul li{
    list-style: none;
}

.articles {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.article hr {
    width: 100%;
}
.article {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}